.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.listWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 20px;
}

.listSearch {
  flex: 1;
  background-color: #febb02;
  padding: 10px;
  border-radius: 10px;
  position: sticky;
  top: 10px;
  height: max-content;
}

.lsTitle {
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}

.lsItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.lsItem > label {
  font-size: 12px;
}

.lsItem > input {
  height: 30px;
  border: none;
  padding: 5px;
}
.lsItem > span {
  height: 30px;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.lsOptions {
  padding: 10px;
}

.lsOptionItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
  font-size: 12px;
}

.lsOptionInput {
  width: 50px;
}

.listSearch > button {
  padding: 10px;
  background-color: #0071c2;
  color: white;
  border: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
}

.listResult {
  flex: 3;
  margin-top: 100px;
}

.headerBtnList {
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.headerSearchList {
  height: 55px;
  background-color: white;
  border: 1px solid #febb02;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  position: fixed;
  width: 100%;
  max-width: 1024px;
  position: absolute;
}

.TitleHeader {
  font-family: Arial, Helvetica, sans-serif;
}

.headerIconList {
  color: lightgray;
}

.headerSearchItemList {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInputList {
  border: none;
  outline: none;
}

.headerSearchTextList {
  color: lightgray;
  cursor: pointer;
}



.listNotFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* background-color: #5ca3dd93; */
}

.listImageNotFound {
  border-radius: 8px;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.listImageNotFound:hover {
  opacity: 0.5;
}


.listTitleTwo {
  font-size: 40px;
  margin: 20px;
}

.listPara {
  font-size: 18px;
  margin: 5px;
}

.listPara:last-of-type {
  margin-bottom: 35px;
}

.listLink {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.listLink:hover {
  opacity: 0.5;
}
