.messages {
  display: flex;
  justify-content: center;
}
.messages .containerMessages {
  width: 1400px;
  padding: 50px 0px;
}
.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 400px;
}
.messages .containerMessages .title button {
  background-color: #1dbf73;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-left: 100px;
}
.messages .containerMessages table {
  width: 100%;
}
.messages .containerMessages table tr {
  height: 100px;
}
.messages .containerMessages table tr th {
  text-align: left;
}
.messages .containerMessages table tr td {
  padding: 10px;
}
.messages .containerMessages table tr td:first-child {
  font-weight: 500;
}
.messages .containerMessages table tr td:nth-child(2),
.messages .containerMessages table tr td:nth-child(3) {
  color: gray;
}
.messages .containerMessages table tr button {
  background-color: #1dbf73;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.messages .containerMessages table tr.active {
  background-color: #1dbf730f;
}

.messages .containerMessages a {
  color: black;
}

.btnTitle {

  margin-bottom: 400px;
}

.btnCreate {
  background-color: #1dbf73;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
}