.orders {
  display: flex;
  justify-content: center;
  color: #555;
}
.orders .containerOders {
  width: 1400px;
  padding: 50px 0px;
}
.orders .containerOders .titles {
  display: flex;
  justify-content: space-between;
}
.orders .containerOders .titles button {
  background-color: #1dbf73;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.orders .containerOders table {
  width: 100%;
}
.orders .containerOders table tr {
  height: 50px;
}
.orders .containerOders table tr th {
  text-align: center;
}

.orders .containerOders table td {
  text-align: center;
}

.orders .containerOders table tr td sup {
  font-size: 12px;
}

.orders .containerOders table tr:nth-child(even) {
  background-color: #1dbf730f;
}

.tdName {
  width: 25%;
}

.tdTimeFrame {
  width: 15%;
}

.tdPrice {
  width: 15%;
}

.tdDate {
  width: 15%;
}

.tdConfirm {
  width: 15%;
  color: green;
}

.tdUnconfirmed {
  width: 15%;
  color: gray;
}

.tdMatching {
  width: 15%;
  color: var(--color-theme-primary);

}

.tdNoMatching {
  width: 15%;
  color: gray;
}

.deleteButtonOrder {
  padding: 2px 5px;
  border-radius: 5px;
  background-color: crimson;
  color: white;
  border: 1px dotted rgba(220, 20, 60, 0.6);
  cursor: pointer;
  width: 10%;
}

.buyButtonOrder {
  background-color: var(--color-theme-primary);
  border-radius: 6px;
  padding: 10px 48px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
  box-shadow: 0 4px 8px 0 rgba(48, 48, 48, 0.25);
  cursor: pointer;
  transition: background-color 1s;
  width: 10%;
}
